@import "tailwindcss";


* {
	padding: 0;
	margin: 0;
}

body {
	background: #fafafa;
}


.card {
	background: #fafafa;
	border-radius: 0.5rem;
	box-shadow: 0.1rem 0.1rem 0.9rem rgba(0, 0, 0, 0.2);
	padding: 1rem;
	margin: 1rem;
}

.card-header {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.card-title {
	font-size: 1.25rem;
	margin-bottom: 0.25rem;
}

.card-content {
	font-size: 1rem;
}
